
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url("img/brown.png");

	color: #fff;
}

.disolver-on {
	opacity:1;
	transition:opacity 500ms linear;
}

.disolver-off {
	opacity: 0;
	transition: opacity 500ms linear;
}

#wrong-date {
	color: red;
}

.desk {
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 30px;
}

.dices {
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.dice {
	overflow: hidden;
	height: 200px;
	width: 200px;
	border: none;
}

.dices-image {
	width: 100%;
}

hr {
	background-color: #fff;
}

.mybudget {
	width: 100%;
	font-size: 15ch;
	text-align: center;
	color: #fff;

	border: 1px solid #fff;
}

.dollar {
	font-size: 20px;
}

.roles {
	font-size: 11px;
}



.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

.score {
	border: 1px solid #fff;
}

.go-button {
	background-color: #fff;
	border: 1px solid black;
}

.table-budget-box {
	position: fixed;
	top: 15px;
	left: 30%;
	background-image: url("img/brown.png");
	padding: 20px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.win {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	display: none;
}

.win-cont {
	top: 50%;
	transform: translate(0,-50%);
}